{# _lazy_dm/templates/events.html_ #}

{% extends "index.html" %}
{% block title %}Town Events{% endblock %}
{% block body %}
    {{ super() }}

<h2><b>Town Events:</b></h2>

<p>Whenever the characters enter a new town or start a new session there, adding some detail and context to the setting can help bring things to life. The “Town Events” page features four tables to help determine what might be going on in a town, how the townsfolk are currently feeling, what the weather is, and what mundane or fantastic event might be taking place. As with the other random table sections, you need only make use of whichever tables you need for a given point in your game.

<h2>Mundane Event: {{ mundane_event }}</h2>
<h2>Town Sentiment: {{ town_sentiment }}</h2>
<h2>Notable Weather: {{ notable_weather }}</h2>
<h2>Fantastic Event: {{ fantastic_event }}</h2>
{% endblock %}