{# _lazy_dm/templates/name.html_ #}

{% extends "index.html" %}
{% block title %}Random Fantasy Name{% endblock %}
{% block body %}
    {{ super() }}
    <h2>Random Name:
    {{ name }}</h2>

    <b>Names:</b> Whenever you need a name for an NPC, you can find one quickly and easily using the lists on the “Fantasy Names” page. Two lists providing hundreds of pregenerated names have been nominally separated into given names and surnames, but you’re free to use them however you wish.
    <p> You can also use surnames to name adventuring parties, mercenary gangs, and other such organizations—for example, the Dawn Seekers, the Earth Fangs, or the Shield Cleavers.
{% endblock %}