{# _lazy_dm/templates/example.html_ #}

{% extends "index.html" %}
{% block title %}Random Trap{% endblock %}
{% block body %}
    {{ super() }}
    <b>Traps:</b> The “Traps” page presents five tables you can use to generate simple or complex traps, incorporating multiple features, plus energy damage or conditions. To generate a simple trap, just roll on the Physical Trap table and the Trigger table. For a more dangerous trap, add an effect from the Flavor table to put a unique twist on the damage or impose a debilitating condition.
    <p>For a really devious trap, you can roll on the Flavor table and Physical Trap table twice, combining features into deadly combinations such as ‘sleep-inducing bolos and thunderous crushing pillars, triggered by an onyx demon’s skull.’
    <p>The tables at the bottom of the page provide guidelines for choosing DCs, attack bonuses, and damage for traps, based on how challenging you want them to be.

    <h2>{{ trap["flavor"] }} {{ trap["type"] }}, triggered by {{ trap["trigger"] }}</h2>

    <h2>Trap details:</h2>
    <table>
        <tr>
            <th>Character Level</th>
            <th>Setback</th>
            <th>Dangerous</th>
            <th>Deadly</th>
        </tr>
        <tr>
            <td>1st–4th</td>
            <td>5 (1d10)</td>
            <td>11 (2d10)</td>
            <td>22 (4d10)</td>
        </tr>
        <tr>
            <td>5td-10th</td>
            <td>11 (2d10)</td>
            <td>22 (4d10)</td>
            <td>55 (10d10)</td>
        </tr>
        <tr>
            <td>11td–16th</td>
            <td>22 (4d10)</td>
            <td>55 (10d10)</td>
            <td>99 (18d10)</td>
        </tr>
        <tr>
            <td>17td–20th</td>
            <td>55 (10d10)</td>
            <td>99 (18d10)</td>
            <td>132 (24d10)</td>
        </tr>
    </table>

    <h2>Trap Save DCs and Attack Bonuses:</h2>
    <table>
        <tr>
            <th>Trap Danger</th>
            <th>Save DC</th>
            <th>Attack Bonus</th>
        </tr>
        <tr>
            <td>Setback</td>
            <td>10-11</td>
            <td>+3 to +5</td>
        </tr>
        <tr>
            <td>Dangerous</td>
            <td>12-15</td>
            <td>+6 to +8</td>
        </tr>
        <tr>
            <td>Deadly</td>
            <td>16-20</td>
            <td>+9 to +12</td>
        </tr>
    </table>
{% endblock %}